body{
    background-image: url(images.jpg);
    background-size:cover;
}
.header{
    width: fill;
    height: 100px;
    margin-top: 50px;
}
.header h1{
    text-align: center;
    padding-top: 30px;
    color: rgb(27, 2, 149);
    font-size: 60px;
}   
.cal-box{
    width:400px ;
    height: 500px;
    background-color: rgb(110, 237, 176);
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: outset;
    border-width: 5px;
    border-color: rgb(17, 114, 79);
}
.cal-input{
    margin: 15px;
    padding-right: 30px;
    padding-top: 50px;
    border: outset;
    border-color: rgb(10, 10, 10);
    border-width: 5px;
    background-color: lightcoral;
    font-size: 25px;

}
button{
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(214, 128, 245);
    outline: none;
    border-color: gold;
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
button:hover{
    background-color: rgb(195, 67, 242);
}
button:active{
    color: rgb(239, 11, 11);
}
.cal-AC, .cal-Del,.cal-ans{
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
}
.cal-1{
    padding: 15px 30px 15px 30px;
    margin-right: 10px;
    border-radius: 40px;
}
.cal-s{
    padding: 15px 30px 15px 30px;
    border-radius: 40px;
}
.cal-ans{
    padding: 10px 150px 10px 150px;
    margin-left: 15px;
}